* {
  outline: none; }

.wrapper {
  margin-top: 40px; }

.header {
  width: 100%;
  background: #3B5998;
  height: 60px;
  border-bottom: 1px solid #000; }

.header .logo {
  padding-left: 300px;
  padding-top: 0px;
  float: left; }

.header .logo img {
  width: 200px; }

.giris {
  padding-left: 370px;
  padding-top: 15px;
  float: left; }

.giris input {
  width: 150px;
  height: 20px;
  border: 1px solid #000;
  padding: 3px; }

.giris input:focus {
  width: 150px;
  height: 20px;
  border: 1px solid blue;
  padding: 3px; }

.giris button {
  width: 75px;
  height: 28px;
  background: #4267B2;
  color: white;
  border: 1px solid #29487D;
  border-radius: 2px; }

.container {
  width: 100%;
  height: 80vh;
  background: #E8EBF3; }

.container .soltaraf {
  color: #325998;
  font-size: 18px;
  font-family: Arial;
  padding-left: 320px;
  padding-top: 100px;
  width: 500px;
  float: left; }

.container .kayit {
  color: #323232;
  font-size: 18px;
  font-family: Arial;
  padding-left: 50px;
  padding-top: 60px;
  width: 380px;
  float: left; }

.container .kayit p {
  margin-top: -14px; }

.container .kayit .kutus1 {
  float: left;
  width: 170px;
  margin-right: 10px;
  border: 1px solid #999;
  border-radius: 4px;
  height: 30px;
  padding: 3px;
  font-size: 18px; }

.container .kayit .kutus2 {
  float: left;
  width: 358px;
  margin-top: 8px;
  margin-right: 10px;
  border: 1px solid #999;
  border-radius: 4px;
  height: 30px;
  padding: 3px;
  font-size: 18px; }

.container .kayit button {
  margin-top: 8px;
  width: 50%;
  height: 35px;
  background: #68A253;
  color: white;
  border: 1px solid #3B6E22;
  border-radius: 4px;
  font-size: 19px;
  padding: 5px; }

.container .kayit small {
  font-size: 10px;
  font-family: verdana; }

.footer {
  width: 1000px;
  margin: auto;
  margin-top: 7px;
  color: #777; }

.footer a {
  width: 1000px;
  margin: auto;
  margin-top: 7px;
  color: #3B5998;
  text-decoration: none;
  margin-left: 8px; }

.policy {
  color: gray; }

.bar {
  height: 42px;
  background-color: #4C66A4;
  border: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 99; }

.inner {
  width: 350px;
  display: flex;
  align-items: center; }

.fa-facebook-official {
  color: white;
  font-size: 30px; }

.search-input {
  padding: 2px 0 2px 8px;
  border: 1px solid #384C7F;
  height: 25px;
  border-radius: 4px 0px 0px 4px;
  border-right: none;
  width: 580px; }

.search-btn {
  display: inline;
  border-radius: 0px 4px 4px 0px;
  height: 24px;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
  width: 50px;
  cursor: pointer; }

.fa-search {
  color: gray; }

.blog-container {
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
  font-family: "adelle-sans", sans-serif;
  font-weight: 100;
  margin: 48px auto;
  width: 80%; }

.blog-container a {
  color: #4d4dff;
  text-decoration: none;
  transition: .25s ease; }
  .blog-container a:hover {
    border-color: #ff4d4d;
    color: #ff4d4d; }

.blog-author,
.blog-author--no-cover {
  margin: 0 auto;
  padding-top: .125rem;
  width: 80%; }

.blog-author--no-cover {
  display: flex;
  margin-left: 80px;
  padding-top: 10px; }

.avatar {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/17779/russ.jpeg");
  background-size: cover;
  border-radius: 4px;
  margin-right: .5rem;
  position: relative;
  top: 8px;
  width: 50px;
  height: 50px;
  margin-right: 10px; }

.blog-author h3 {
  color: #fff;
  font-weight: 100; }

.blog-author--no-cover h3 {
  color: #4C66A4;
  font-weight: 500; }

.blog-body {
  margin: 0 auto;
  width: 80%; }

.video-body {
  height: 100%;
  width: 100%; }

.blog-title h1 a {
  color: #333;
  font-weight: 100; }

.blog-summary p {
  color: #4d4d4d; }

.blog-tags ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0; }

.blog-tags li + li {
  margin-left: .5rem; }

.blog-tags a {
  border: 1px solid #999999;
  border-radius: 3px;
  color: #999999;
  font-size: .75rem;
  height: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
  padding: 0 .5rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  width: 5rem; }

.blog-footer {
  border-top: 1px solid #e6e6e6;
  margin: 0 auto;
  padding-bottom: .125rem;
  width: 80%; }

.blog-footer ul {
  list-style: none;
  display: flex;
  flex: row wrap;
  justify-content: flex-end;
  padding-left: 0; }

.blog-footer li:first-child {
  margin-right: auto; }

.blog-footer li + li {
  margin-left: .5rem; }

.blog-footer li {
  color: #999999;
  font-size: .75rem;
  height: 1.5rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  white-space: nowrap; }
  .blog-footer li a {
    color: #999999; }

.published-date {
  border: 1px solid #999999;
  border-radius: 3px;
  padding: 0 .5rem; }

.fa-thumbs-o-up {
  font-size: 20px;
  color: #4C66A4;
  margin-right: 30px; }

.fa-comment-o {
  font-size: 20px; }

.input_card {
  padding-top: 5px; }

.container01 {
  padding-top: 50px;
  width: 520px;
  margin-top: 20px;
  margin: 20px auto; }

.button-group {
  margin-bottom: 20px; }

.post-btn {
  border: none;
  width: 60px;
  height: 24px;
  background-color: #4C66A4;
  border-radius: 4px;
  margin-right: 40px;
  color: white;
  font-weight: bold; }

.status-box {
  margin-top: 20px;
  border: none;
  height: 50px;
  width: 100%;
  font-size: 20px; }

.chatbox__user-list {
  background-color: rgba(0, 0, 0, 0.05);
  z-index: 2;
  width: 15vw;
  position: fixed;
  height: 100%;
  right: 0;
  border-left: 1px solid rgba(29, 49, 91, 0.3);
  overflow-y: scroll;
  overflow-x: hidden; }

.list_user {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.list_user:hover {
  background-color: #cccccc; }

.list_user h5 {
  margin-left: 10px;
  font-weight: 100; }

.online_User {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: lightgreen;
  margin-right: 10px; }

.userList_avatar {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/17779/russ.jpeg");
  background-size: cover;
  border-radius: 50%;
  height: 32px;
  margin-right: .5rem;
  position: relative;
  top: 8px;
  width: 32px;
  margin-right: 10px; }

.chat {
  height: 327px;
  width: 260px;
  border: 1px solid rgba(29, 49, 91, 0.3);
  position: fixed;
  bottom: 0;
  right: 18%;
  border-radius: 4px 4px 0px 0px; }

.chatbox_header {
  width: 100%;
  background-color: #4C66A4;
  color: white;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px 4px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 4px 2px -2px;
  z-index: 2; }

.chatbox_user {
  margin-left: 20px;
  display: flex;
  align-items: center; }

.chatbox_content {
  border-radius: 4px 4px 0px 0px;
  background-color: white;
  width: 100%;
  height: 290px; }

.chatbox_input {
  height: 32px;
  width: 254px; }

.fa-times {
  margin-right: 10px;
  color: #e6e6e6; }

.fa-times:hover {
  color: white; }

.profile_wrapper {
  width: 851px;
  margin-left: 200px; }

.profile_banner {
  width: 851px;
  height: 315px;
  background-color: gray;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 4px 2px -2px;
  position: relative; }

.profile_avatar {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/17779/russ.jpeg");
  background-size: cover;
  border-radius: 4px;
  border: 5px solid white;
  height: 163px;
  margin-right: .5rem;
  position: relative;
  top: 8px;
  width: 168px;
  margin-right: 10px;
  position: absolute;
  top: 160px;
  left: 40px; }

.info {
  margin-top: 48px;
  width: 323px;
  height: 341px;
  background-color: white;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 4px 2px -2px; }

.profile_bottom_part {
  width: 100%;
  display: flex;
  justify-content: space-between; }
