* {
  outline: none;
}

.wrapper{
  margin-top: 40px;
}


//===============Login Page===================
.header{
	width:100%;
	background:#3B5998;
	height:60px;
	border-bottom:1px solid #000;
}



.header .logo{
	padding-left:300px;
	padding-top:0px;
	float:left;
}

.header .logo img{
	width:200px;
}

.giris{
	padding-left:370px;
	padding-top: 15px;
	float:left;
}

.giris input{
	width:150px;
	height:20px;
	border:1px solid #000;
	padding:3px;
}

.giris input:focus{
	width:150px;
	height:20px;
	border:1px solid blue;
	padding:3px;
}

.giris button{
	width:75px;
	height:28px;
	background:#4267B2;
	color:white;
	border:1px solid #29487D;
	border-radius:2px;
}

.container{
	width:100%;
	height:80vh;
	background:#E8EBF3;
}

.container .soltaraf{
	color:#325998;
	font-size:18px;
	font-family:Arial;
	padding-left:320px;
	padding-top:100px;
	width:500px;
	float:left;
}

.container .kayit{
	color:#323232;
	font-size:18px;
	font-family:Arial;
	padding-left:50px;
	padding-top:60px;
	width:380px;
	float:left;
}

.container .kayit p{
	margin-top:-14px;
}

.container .kayit .kutus1{
	float:left;
	width:170px;
	margin-right:10px;
	border:1px solid #999;
	border-radius:4px;
	height:30px;
	padding:3px;
	font-size:18px;
}

.container .kayit .kutus2{
	float:left;
	width:358px;
	margin-top:8px;
	margin-right:10px;
	border:1px solid #999;
	border-radius:4px;
	height:30px;
	padding:3px;
	font-size:18px;
}

.container .kayit button{
	margin-top:8px;
	width:50%;
	height:35px;
	background:#68A253;
	color:white;
	border:1px solid #3B6E22;
	border-radius:4px;
	font-size:19px;
	padding:5px;
}

.container .kayit small{
	font-size:10px;
	font-family:verdana;
}

.footer{
	width:1000px;
	margin:auto;
	margin-top:7px;
	color:#777;
}

.footer a{
	width:1000px;
	margin:auto;
	margin-top:7px;
	color:#3B5998;
	text-decoration:none;
	margin-left:8px;
}

.policy{
  color: gray;
}

//===============Login Page END===================

//===============Navbar ===================


  .bar {
    height: 42px;
    background-color: #4C66A4;
    border: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 99;
    }


  .inner {
    width: 350px;
    display: flex;
    align-items: center;
  }

  .fa-facebook-official {
    color: white;
    font-size: 30px;
  }

  .search-input {

      padding: 2px 0 2px 8px;
      border: 1px solid #384C7F;
      height: 25px;
      // -moz-border-radius: 4px;
      // -webkit-border-radius: 4px;
      border-radius: 4px 0px 0px 4px;
      border-right: none;
      width: 580px;
      }

  .search-btn {
    display: inline;
    border-radius: 0px 4px 4px 0px;
    height: 24px;
    border: none;
    background-color: rgba(0,0,0,0.4);
    width: 50px;
    cursor: pointer;
  }

  .fa-search {
    color: gray;
  }

  .profile_btn {
    display: flex;
    align-items: center;
    height: 25px;
    width: 100px;
  }
  .profile_btn p{
    font-size: 0.8em;
    margin-left: 5px;
    color: white;
    background-color: #4C66A4;
    border: none;
  }
  .profile_btn:hover p{
    background-color: lighten(#384C7F,7%);
  }
  .profile_btn:hover{
    background-color: lighten(#384C7F,7%);
  }
  .logoutbtn button {
    color: white;
    background-color: #4C66A4;
    border: none;
    height: 30px;
  }
  .logoutbtn button:hover {
    background-color: lighten(#384C7F,7%);
  }


//===============Navbar END===================


//===============NewsFeed Cards Design ===================

  //box-shadow: hsla(0, 0, 0, .2) 0 4px 2px -2px;

.blog-container {
  background: #fff;
  box-shadow: hsla(0, 0, 0, .2) 0 4px 2px -2px;
  font-family: "adelle-sans", sans-serif;
  font-weight: 100;
  margin: 48px auto 0;
  width: 100%;
  border: 1px solid rgb(211,214,219);
  border-radius: 3px;
  position: relative;
  // @media screen and (min-width: 480px) {
  //   width: 28rem;
  // }
  // @media screen and (min-width: 767px) {
  //   width: 40rem;
  // }
  // @media screen and (min-width: 959px) {
  //   width: 50rem;
  // }
}
.blog-container a {
  color: #4d4dff;
  text-decoration: none;
  transition: .25s ease;
  &:hover {
    border-color: #ff4d4d;
    color: #ff4d4d;
  }
}

.blog-author,
.blog-author--no-cover {
  margin: 0 auto;
  padding-top: .125rem;
  width: 80%;
}
.blog-author--no-cover {
  display: flex;
  margin-left: 40px;
  padding-top: 10px;
}

.avatar,
 {
  border-radius: 2px;
  margin-right: .5rem;
  position: relative;
  top: 8px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}



.blog-author h3 {
  color: #fff;
  font-weight: 100;
}
.blog-author--no-cover h3 {
  color: #4C66A4;

  font-weight: 500;
}

// Blog body
//-------------------------
.blog-body {
  margin: 0 auto;
  width: 80%;
}
.video-body {
  height: 100%;
  width: 100%;
}
.blog-title h1 a {
  color: #333;
  font-weight: 100;
}
.blog-summary p {
  color: lighten(#333, 10%);
}
.blog-tags ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}
.blog-tags li + li {
  margin-left: .5rem;
}
.blog-tags a {
  border: 1px solid lighten(#333, 40%);
  border-radius: 3px;
  color: lighten(#333, 40%);
  font-size: .75rem;
  height: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
  padding: 0 .5rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  width: 5rem;
}

// Blog footer
//-------------------------
.blog-footer {
  border-top: 1px solid lighten(#333, 70%);
  margin: 0 auto;
  padding-bottom: .125rem;
  width: 80%;
}
.blog-footer ul {
  list-style: none;
  display: flex;
  flex: row wrap;
  justify-content: flex-end;
  padding-left: 0;
}
.blog-footer li:first-child {
  margin-right: auto;
}
.blog-footer li + li {
  margin-left: .5rem;
}
.blog-footer li {
  color: lighten(#333, 40%);
  font-size: .75rem;
  height: 1.5rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  white-space: nowrap;
  & a {
    color: lighten(#333, 40%);
  }
}

.published-date {
  border: 1px solid lighten(#333, 40%);
  border-radius: 3px;
  padding: 0 .5rem;
}

.fa-thumbs-o-up {
  font-size: 20px;
  // color: #4C66A4;
  margin-right: 30px;
}
.fa-comment-o {
  font-size: 20px;
}
//====COMMENT SECTION===
.comment_wrapper{
  padding-top: 10px;
  padding-bottom: 10px;
}
.comment_section {
  border: 1px solid rgb(211,214,219);
  background: rgb(246,247,249);
  width: 100%;
  margin: 0 auto;

}
.comment_content{
  font-family: "adelle-sans", sans-serif;
  font-weight: 100;
  font-size: 14px;
}
.comment_section h5 {
  color: #4C66A4;
}

.comment_card {
  display: flex;
  width: 100%;
  align-items:center;
  height: 40px;
  position: relative;

}
.comment_profile{
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
  align-items: center;
}
.comment_like_icon{
  font-size: 14px;
  margin-left: 50px;
  color:lighten(#333, 40%);
}
.comment_input{
  display: flex;
  height: 30px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.comment_input input{
  width: 97%;
  margin-left: 3%;
  margin-right: 10px;
}

.image_card {
  background-size: cover;
}


//ArowKey===============
.the_edit_arrow {
  position: absolute;
  right: 5%;
  top: 1%;
  font-size: 20px;
}

.the_edit_arrow i {
  position: absolute;
  right: 5%;
  top: 1%;
  font-size: 20px;
}

.the_edit_menu {
  // position: absolute;
  padding-top: 30px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.the_edit_arrow {
  border-radius: 3px;
  border: 1px solid rgb(211,214,219);
  background-color: white;
  height: 100px;
  width: 100px;
}

.the_edit_arrow button{
  border: none;
  width: 100px;
  height: 30px;
  font-size: 0.8em;
  background-color: white;
}

.the_edit_arrow button:hover{
  background-color: #4C66A4;
  color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.post_edit_field {
  width: 100%;
  margin-top: 20px;
  font-family: "adelle-sans", sans-serif;
  font-size: 14px;
  font-weight: 100;
}


//===============NewsFeed Cards Design END ===================


//===============InputField Design ===================
.input_card {
  padding-top: 5px;
}
.container01 {
  padding-top: 50px;
  width: 520px;
  margin-top: 20px;
  margin: 20px auto;
}

.button-group {
  margin-bottom: 20px;
}

.blog-footer .btn-container{
  position: relative;
  display: flex;
  justify-content: space-between;
}

.post-btn {
  border: none;
  width: 80px;
  height: 30px;
  font-weight: 100;
  font-size: 14px;
  background-color: #4C66A4;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  // position: absolute;
  margin-left: 10px;
  cursor: pointer;
}

.upload-btn {
  border: none;
  width: 80px;
  height: 30px;
  font-weight: 100;
  font-size: 14px;
  background-color: #4C66A4;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  // position: absolute;
}


.status-box{
  margin-top: 20px;
  border: none;
  height: 50px;
  width: 100%;
  font-size: 20px;
}

.dropzone{
  color: white;
  width: 120px;
  height: 30px;
  background-color: #4C66A4;
  margin: 0 auto;
  margin-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}




//===============InputField Design END ===================


//===============OnlineUser Page ===================
.chatbox__user-list{
  background-color: rgba(0, 0, 0, 0.05);
  z-index: 2;
  width: 15vw;
  position: fixed;
  height: 100%;
  right: 0;
  border-left: 1px solid rgba(29, 49, 91, .3);
  overflow-y:scroll;
  overflow-x:hidden;
}
.list_user{
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list_user:hover {
  background-color: lighten(#333, 60%);
}
.list_user h5 {
  margin-left: 10px;
  font-weight: 100;

}
.online_User {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.userList_avatar,
 {
  border-radius: 50%;
  height: 32px;
  margin-right: .5rem;
  position: relative;
  top: 8px;
  width: 32px;
  margin-right: 10px;
}
//===============OnlineUser Page END ===================



//===========CHATBOX==============
.chat {
  height: 327px;
  width: 260px;
  border: 1px solid rgba(29, 49, 91, .3);
  position: fixed;
  bottom: 0;
  right: 18%;
  border-radius: 4px 4px 0px 0px;
}
.chatbox_header {
  width: 100%;
  background-color: #4C66A4;
  color: white;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px 4px 0px 0px;
  box-shadow: hsla(0, 0, 0, .3) 0 4px 2px -2px;
  z-index: 2;
}

.chatbox_user {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.chatbox_content {
  border-radius: 4px 4px 0px 0px;
  background-color: white;
  width: 100%;
  height: 290px;
}

.chatbox_input {
  height: 32px;
  width: 254px;
}
.fa-times {
  margin-right: 10px;
  color: lighten(#333, 70%) ;
}
.fa-times:hover {
  color: white;
}
.chat_area{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  font-family: "adelle-sans", sans-serif;
  font-weight: 100;
  font-size: 14px;
}
.my_mes{
  color: white;
  background-color: rgb(64,128,255);
  align-self: flex-end;
  border-radius: 2px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: block;
  margin-right: 10px;
  margin-top: 5px;
}
.my_mes p{
  padding: 2px;
  margin: 2px;
}
.other_mes{
  background-color:rgb(211,214,219);
  align-self: flex-start;
  border-radius: 2px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: block;
  margin-left: 10px;
  margin-top: 5px;
}

.other_mes p{
  padding: 2px;
  margin: 2px;
}
.fa-video-camera {
  margin-right: 10px;
  color: lighten(#333, 70%) ;
}

.fa-video-camera:hover {
  color: white;
}
//===========CHATBOX END==========


//===============Profile Page ===================
.profile_wrapper {
  width: 851px;
  margin-left: 200px;
}

.profile_banner {
  width: 851px;
  height: 315px;
  background-color: gray;
  border-radius: 4px;
  box-shadow: hsla(0, 0, 0, .3) 0 4px 2px -2px;
  position: relative;
}

.profile_avatar {
  border-radius: 4px;
  border: 5px solid white;
  height: 163px;
  margin-right: .5rem;
  position: relative;
  top: 8px;
  width: 168px;
  margin-right: 10px;
  position: absolute;
  top: 160px;
  left: 40px;
  display: flex;
}
.profile_add_btn {
  position: absolute;
  bottom: 10%;
  right: 5%;
}

.info {
  margin-top: 48px;
  width: 323px;
  height: 341px;
  background-color: white;
  border-radius:  4px;
  box-shadow: hsla(0, 0, 0, .3) 0 4px 2px -2px;
}

.profile_bottom_part {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.profile_right_side {
  width: 50%;
}

.profile_pic_upload {
  height: 90px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  align-self: flex-end;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  cursor: pointer;
}
.banner_pic_upload {
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0.5;
  width: 200px;

}

.banner_btn_container{
  display: flex;
  align-items: center;
  cursor: pointer;
  // background-color: rgba(0, 0, 0, 0.7);
}

.banner_btn_container i{
  margin-right: 10px;
  margin-left: 10px;
  font-size: 1.4em;
}
.banner_btn_container p{
  display: none;
}

.profile_banner:hover .banner_btn_container p {
  display: block;
}

.profile_banner:hover .banner_btn_container {
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid white;
  border-radius: 3px;
  height: 40px;
}

.profile_banner:hover .banner_btn_container i{
  font-size: 1em;
}

.profile_banner:hover .banner_pic_upload {
  color: white;
  opacity: 1;
}


.profile_banner .profile_name {
  position: absolute;
  color: white;
  bottom: 20px;
  left: 30%;
}

.profile_name h1 {
  font-weight: 100;
}
.profile_name {
  position: relative;
}


.fa-camera {
  margin-right: 4px;
}

.profile_avatar:hover .profile_pic_upload{
  display:flex;
}

.profile_add_btn {
  color: #4b4f56;
  border: 1px solid;
  border-radius: 2px;
  background-color: #f6f7f9;
  font-weight: bold;
  height: 28px;
  width: 106px;
  cursor: pointer;
}

.fa-info-circle{
  font-size: 27px;
  color: #4C66A4;
  display: block;
  margin: 5px 5px 10px 5px;
}

.fa-home,
.fa-user-circle-o {
  color: #4C66A4;
}


.live_info {
  display: flex;
  align-items: center;
  position: relative;
}

.fa-pencil {
  position: absolute;
  top: 20%;
  right: 10%;
  opacity: 0.3;
}
.fa-pencil:hover {
  opacity: 0.6;
}

.live_info h4,
.live_info i{
  margin-left: 10px;
}
.profile_name i{
  position: absolute;
  top: 29%;
  right: -15%;
}






//===============Profile Page END ===================




//===============Search Page ===================
a {
  text-decoration: none;
}
.search_wrapper {
  background: #fff;
  width: 50%;
  margin: auto;
  font-family: "adelle-sans", sans-serif;
  border: 1px solid rgb(211,214,219);
}

.search_wrapper h1 {
  color: #4C66A4;
  border-bottom:  1px solid rgb(211,214,219);
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.search_cards{
  display: flex;
  border-bottom:  1px solid rgb(211,214,219);
  color: black;
}

.search_cards h3 {
  margin-top: 10px;
  color: #4C66A4;
}
.search_cards p {
  font-size: .8em;
}

.search_avatar {
  margin-left: 10px;
}

//===============Searcg Page END ===================
.newsfeed_wrapper{
  width: 50%;
  margin-left: 200px;
}

@media (max-width: 1250px) {
  .chatbox__user-list{
    display: none;
  }
  .kayit {
    display: none;
  }
  .giris input{
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 725px) {
  .newsfeed_wrapper {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
}
